{% extends 'core/base.html' %}
{% block title %}Eliminar Cliente{% endblock %}
{% block login %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <form action="" method="post">
                {% csrf_token %}
                <p>¿Estás seguro de que quieres eliminar a <b>"{{ object }}"</b>?</p>
                <input type="submit" class="btn btn-primary btn-block" value="Confirmar" />
                <a class="nav-link btn btn-secondary btn-block" href="{% url 'ventas:clientes' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
