{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Proveedor{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilosFormularios.css' %}" />
{% endblock %}
{% block login %}
{% endblock %}
{% block hero %}
{% endblock %}


{% block content %}
<div class="container mt-5 form-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg p-4 border-0">
                <h2 class="mb-4 text-center text-primary fw-bold">Agregar Nuevo Producto</h2>
                <form method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <div class="form-group mb-4 w-100">
                        <label for="id_nombre" class="form-label text-secondary fw-semibold">Código</label>
                        <input type="text" id="id_codigo" name="codigo"
                               class="form-control shadow-sm" value="{{ form.codigo.value|default:'' }}">
                    </div>
                    <div class="form-group mb-4 w-100">
                        <label for="id_nombre" class="form-label text-secondary fw-semibold">Nombre</label>
                        <input type="text" id="id_nombre" name="nombre"
                               class="form-control shadow-sm" value="{{ form.nombre.value|default:'' }}">
                    </div>
                    <div class="form-group mb-4 w-100">
                        <label for="id_descripcion" class="form-label text-secondary fw-semibold">Descripción</label>
                        <input type="text" id="id_descripcion" name="descripcion"
                               class="form-control shadow-sm" value="{{ form.descripcion.value|default:'' }}">
                    </div>
                    <div class="form-group mb-4 w-100">
                        <label for="id_precioAnterior" class="form-label text-secondary fw-semibold">Precio anterior</label>
                        <input type="number" step="0.01"  id="id_precioAnterior" name="precioAnterior"
                               class="form-control shadow-sm" value="{{ form.precioAnterior.value|default:'' }}">
                    </div>
                    <div class="form-group mb-4 w-100">
                        <label for="id_precio" class="form-label text-secondary fw-semibold">Precio actual</label>
                        <input type="number" step="0.01"  id="id_precio" name="precio"
                               class="form-control shadow-sm" value="{{ form.precio.value|default:'' }}">
                    </div>
                   
                    <div class="form-group mb-4 w-100">
                        <label for="id_cantidad" class="form-label text-secondary fw-semibold">Stock</label>
                        <input type="number" id="id_cantidad" name="cantidad"
                               class="form-control shadow-sm" value="{{ form.cantidad.value|default:'' }}">
                    </div>
                    <div class="form-group mb-4 w-100">
                        <label for="id_disponible" class="form-label text-secondary fw-semibold">Disponible</label>
                        <input type="checkbox" id="id_disponible" name="disponible"
                               class=" form-check-input shadow-sm" {% if form.disponible.value %}checked{% endif %}>
                    </div>
                    <div class="form-group mb-4 w-100 ">
                        <label for="id_imagenPrincipal" class="form-label text-secondary fw-semibold">Foto</label>
                        <input type="file" name="imagenPrincipal" id="id_imagenPrincipal" class="form-control shadow-sm" accept="image/*">
                    </div>
                    <div class="d-flex gap-3 w-100 buttons-sub">
                        <a href="{% url 'ventas:lista_productos' %}" class="btn btn-outline-secondary shadow-sm px-4">Cancelar</a>
                        <input type="submit" class="btn btn-primary shadow-sm px-4" value="Crear">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
