{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Cliente{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilosFormularios.css' %}" />
{% endblock %}
{% block login %}
{% endblock %}
{% block hero %}
{% endblock %}



{% block content %}
<div class="container mt-5 form-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg p-4 border-0 ">
                <h2 class="mb-4 text-center text-primary fw-bold">Detalles de la Venta</h2>
                <div class="info-detalle">
                <div class="mb-3 ">
                    <strong>Producto:  </strong>
                    <p>  {{ venta.producto.nombre }}</p>
                </div>
                <div class="mb-3">
                    <img class="imagen-venta" src="{{ venta.producto.imagen_principal.url }}" alt="">
                </div>
                    <div class="mb-3 ">
                        <strong>Descripción del producto  </strong>
                        <p>:  {{ venta.producto.descripcion }}</p>
                    </div>
                <div class="mb-3">
                    <strong>Cliente</strong>
                    <p>:   {{ venta.cliente.nombre }}</p>
                </div>
                    <div class="mb-3">
                        <strong>Email del cliente</strong>
                        <p>:   {{ venta.cliente.email }}</p>
                    </div>
                <div class="mb-3">
                    <strong>Precio  </strong>
                    <p>:  ${{ venta.precio }}</p>
                </div>
                <div class="mb-3">
                    <strong>Fecha de Venta  </strong>
                    <p>:  {{ venta.fecha }}</p>
                </div>
                <div class="mb-3">
                    <strong>Fecha de Carga  </strong>
                    <p>:  {{ venta.created }}</p>
                </div>
                <div class="mb-3">
                    <strong>Fecha de actualización  </strong>
                    <p>:  {{ venta.updated }}</p>
                </div>
                </div>
                <div class=" d-flex gap-3 buttons-sub">
                    <a href="{% url 'ventas:ventas' %}" class="btn btn-outline-secondary shadow-sm px-4">Volver </a>
                    <a href="{% url 'ventas:venta_add' %}" class="btn btn-primary shadow-sm px-4">Crear</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
