@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Akaya+Kanadaka&family=Rowdies:wght@300;400;700&display=swap");


body {
  font-family: "Montserrat", sans-serif;
  background-color: #7fb9b5!important;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

/** --------BARRA DE NAVEGACIÓN--------- **/
header {
  background-color: rgba(0, 0, 0, 0) ;
  position: fixed;
  color: #fff;
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 999;
  border: none;
  box-shadow: none !important;
  transition: background-color 0.3s ease; /* Efecto al hacer scroll */
}

.scrolled {
  padding:1% 0 1% 0;
  margin-top: -12px;
  padding-right:20%;
  background-color:#359381;
  transition:background-color 0.3s ease-in-out;
}
.scrolled .logo {
  width: 100px;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}


.navbar-nav {
  position:relative;
  list-style: none;
  padding: 0;
  margin: 0 0 0 35% !important;
  gap: 15px;
  transition: transform 0.3s ease;
}

.scrolled .navbar-nav{
  margin-top: 0;
 transform: translateX(40%);
}


.navbar-nav .nav-link {
  text-decoration: none;
  text-shadow:2px 2px 0 #2f3e46, 1px 1px #343a40 ;
  color: #f2f6f6;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 20px;
  font-weight: 600;
  transition: background-color 0.3s;

}
.scrolled .navbar-nav .nav-link:hover{
  background-color: #024438;
  color: #fff;
  border-radius: 20px;
}
.navbar-nav .nav-link:hover{
  background-color: #359381;
  color: #fff;
  border-radius: 20px;
}
.active .nav-link{
  background-color: #359381;
  color: #fff;
  border-radius: 20px;
}

.logo{
  width: 150px;
  height: auto;
  margin-left: 5%;
  transition: margin-left 0.3s ease-in-out;
}
.logo-img {
  width: 100%;
  margin: -30px 0 -30px -10px;
}
.nav-search-div{
  display: none !important;
  margin: 0 0 0 0 !important;
}
.scrolled .nav-search-div{
  margin-top: 0 !important;
}
.input {
  width: 70%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.719);
}

.boton-search {
  margin-top: -4px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border: none;
  background-color: #0e7490;
  color: rgb(249, 250, 250);
  border-radius: 100px;
  cursor: pointer;
  transition: none !important;
}
button i {
  justify-content: center;
  align-items: center;
  transition: none !important;
}
.d-flex {
  width: 40%;
  gap: 5px;
  margin: 0 10% 0 20%;
}
.navbar-toggler{
  margin-right: 5%;
}
.scrolled .navbar-toggler{
  margin-right: -20% !important;
}

.login-link {
  position: relative;
}
.menu-login {
  display: none;
  position: absolute;
  background-color: rgba(49, 107, 81, 0.93);
  border-radius: 10%;
  margin-top: 3%;
  padding: 5px;
  color: #eeeff1;
  width: 200px;
  height: 140px;
  z-index: 1000;
}
.menu-login li{
  padding-top: 20px;
  list-style: none;
  margin-left: -15% !important;
}

.login-link:hover .menu-login,
.menu-login:hover {
  display: block;
}


.btn-sesion{
  width: 100%;
  top:-5%
}
@media (min-width: 992px) and (max-width: 1200px)  {
  .nav{
    margin-right: 50%;
  }
  .nav-search-div{
    margin-left: 5% !important;
    margin-right: -10% !important;
  }

  .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: -35%;
    padding: 3px 3px;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  .navbar-nav .nav-item{
    width: 100%;
  }
}

@media (max-width:720px) {
  .logo {
    width: 100px;
  }
  .menu-login{
    height: 180px;
  }
  .login-link:hover .menu-login,
  .menu-login:hover{
  transform: translateX(-100%) translateY(-40%)!important;
  }
  .navbar-collapse .nav-search-div {
    transform: translateY(600%) translateX(5%)!important;
  }
  .scrolled .navbar-nav{
    padding-bottom: 5%;
  }
}

@media (max-width: 992px) {
  .btn-sesion{
    width: 30% !important;
  }
  .scrolled .btn-sesion{
    text-align: left;
    width: 100% !important;
  }
  .navbar-nav .nav-link:hover{
    background-color: #024438;
    color: #fff;
    border-radius: 20px;
  }
  .nav-search-div{
    display:block !important;
  }
  .scrolled .navbar-nav{
    transform: translateX(-150%) !important;
  }
  .scrolled .logo{
    padding: 10px !important;
  }
  .scrolled .nav-search-div{
      transform: translateY(650%) translateX(-65%) !important;
      width: 90% !important;
    height: 100% !important;
  }
  .nav {
    transition: none !important; /* Desactivar todas las transiciones en dispositivos móviles */
  }
  .navbar-collapse {
    background-color:#359381;
    padding-top: 5%;
    padding-bottom: 10%;
    transform: translateX(65%);
    transition:0.3s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .navbar-collapse .navbar-nav{
    transform: translateX(-50%);
  }
  .navbar-collapse .nav-search-div {
    transform: translateY(650%) translateX(10%);
    width: 40%;
  }
  .input {
    width: 60%;
  }
}


/**-------------- HERO ----------**/

.bg-overlay-k {
  position: relative;
  z-index: 200;
  margin:0 5% 0 5%;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #93c4bd ;
}

.container-hero{
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.bg-img-cover {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  will-change: background-image;
}


.animation-move {
  animation: slideMove 6s ease-in-out infinite;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.btn-orange {
  border: 2px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 20%;
}

@keyframes slideMove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

h1.display-1 {
  font-size: 3rem;
  font-weight: bold ;
  color: #359381;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: 0;
  padding-top: 13%;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #359381
}

.text-white {
  color: white;
  z-index: 300;
}

.px-2,
.px-md-5 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.d-md-flex{margin-left: 5%}

.btn {
  display: inline-block;
  margin-top: 5% !important;
  margin-right: 5% !important;
  margin-bottom: 5% !important;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color:#359381;
}

.btn-skew-left {
  transform: skewX(-10deg);
}

.btn-orange-chunky {
  font-size: 1rem;
  padding: 10px 10px;
}

@media (min-width: 768px) {
  .mx-1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .d-md-flex {
    display: flex;
  }

  .mt-md-0 {
    margin-top: 0;
  }
  .px-md-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.ri-mouse-line {
  display: block;
  font-size: 2rem;
  color: white;
  margin-top: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.ri-mouse-line:hover {
  opacity: 1;
}

.animation-float {
  animation: floatMouse 3s infinite ease-in-out;
}

@keyframes floatMouse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* AOS Animación */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos][data-aos="fade-up"] {
  transform: translateY(20px);
}

[data-aos][data-aos="fade-in"] {
  opacity: 1;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.start-0 {
  left: 0;
}

.end-0 {
  right: 0;
}

/* Responsive */
@media (max-width: 767px) {
  .display-1 {
    font-size: 2rem;
    z-index: 300;
  }
  .btn-orange {
    max-width: 60%;
    margin-left: 20% !important;
  }
  h1.display-1 {
    padding-top: 80px;
    font-size: 2rem;
    margin-left: 10px;
  }
}

/** --------CONTENIDO PRINCIPAL--------- **/
main {
  background-color: #7fb9b5 !important;
  margin: 10%;
  padding: 20px;
  text-align: left;
}

main h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: left;
}

main p {
  text-align: left;
  width: 100%;
  font-size: 1.1em;
  color: #555;
}

@media (max-width: 900px) {
  main p {
    width: 70%;
  }
}

@media (max-width: 768px) {
  main p {
    width: 80%;
  }
}
/**------------------------------**/

/**--------FOOTER ----------**/

footer {
  background-color: #024438;
  color: #fff;
  text-align: center;
  padding-top: 2%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 0.9em;
  line-height: 1.4;
}




#historia{
  padding-top: 80px;
  margin-top: -80px;
}
#equipo{
  padding-top: 220px;
  margin-top: -220px;
}
#mapa{
  padding-top: 130px !important;
  margin-top: -130px !important;
}
#formulario{
  padding-top: 200px !important;
  margin-top: -200px !important;
}

#disponibles{
  padding-top: 100px !important;

}
