body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.main-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.main-container:hover {
  transform: scale(1.02);
}

h1, h2 {
  font-weight: 600;
  color: #343a40;
}

.form-label {
  color: #6c757d;
  font-weight: bold;
}

.form-control {
  border-radius: 8px;
  padding: 0.75rem;
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 4px 8px rgba(23, 162, 184, 0.3);
  border-color: #17a2b8;
}


.btn-primary {
  background-color: #17a2b8;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 0.75rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #138496;
  box-shadow: 0 4px 12px rgba(19, 132, 150, 0.3);
}

.btn-primary:focus {
  box-shadow: 0 4px 12px rgba(23, 162, 184, 0.5);
}


.main-container {
  animation: fadeIn 1s ease-in-out !important;
}


.contact-section {
  padding: 4rem 0;
  border-radius: 40px;
}

.contact-section {
  animation: fadeIn 1s ease-in-out;
}

.btn-primary:hover {
  background-color: #138496;
  transform: scale(1.05);
  transition: 0.3s;
}




.confirmation-message {
  font-size: 1.2em;
  position: fixed;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  text-align: center;
  display: none;
  padding: 15px 25px;
  border-radius: 8px;
  max-width: 60%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -20px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translate(-50%, 0); }
  to { opacity: 0; transform: translate(-50%, -20px); }
}

@keyframes heartbeat {
  0%, 100% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.05); }
}

/* Clases para aplicar las animaciones */
.fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.6s ease forwards;
}

.heartbeat {
  animation: heartbeat 1.5s ease infinite;
}
