
main .container-acercade {
  margin-top: 10% !important;
  margin-bottom: 5%;
}

.info {
  margin-bottom: 10%;
}


h1,
h2,
h3,
h4,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #040303;
}

.text-light-green {
  color: #32cd32;
}
.text-blue {
  color: #03346e;
}
.text-red {
  color: #ff0000;
}
h3, p, .card-title, .card-text {
  text-align: left;
}
h1, h2 {
  text-align: left;
}

/**----  Tarjetas de presentación------**/
.section-tarjet {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  flex-wrap: wrap;
}
.tarjeta {
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  width: 260px;
  transition: transform 0.5s ease;
  text-align: center;
}
.tarjeta:hover {
  transform: translate(15px, -15px) scale(1.05);
}

.card-sup {
  display: grid;
  place-items: center;
  width: 30vh;
  height: 30vh;
  perspective: 1000px;
  position: relative;
  margin-bottom: -13%;
}

.item-card-sup {
  background: #ffffff;
  border-radius: 2rem;
  width: 250px;
  aspect-ratio: 1;
  transition: transform 1s;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
}

.card-img-top {
  width: 70%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.card-mail {
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 17px;
}

.img-te {
  position: absolute;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  transform: translate(-50%, -35%);
  transition: transform 1s;
  top: 45%;
  left: 60%;
}

.card-sup:hover .item-card-sup {
  background-color: #0ea5e9;
  transform: translateZ(100px) rotateX(75deg);
  box-shadow: 10px 10px 10px #33b9b3, -10px -10px 10px #075985;
}

.card-sup:hover .img-te {
  transform: translateX(-100px) translateY(-180px) translateZ(50px);
}

.card-box {
  display: flex;
  width: 100%;
  margin: 10% 0 0;
}

.card-inf {
  position: relative;
  overflow: hidden;
  border-radius: 28px;
  padding: 0px 20px;
  text-decoration: none;
  width: 260px;
  transition: transform 0.5s;
}

.card-inf .card-bg {
  position: absolute;
  top: -75px;
  right: -75px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  z-index: 1;
  background-color: #0ea5e9;
  transition: all 1s ease;
}

.card-inf:hover .card-bg {
  height: 500px;
  width: 600px;
  top: -100px;
  right: -100px;
}

.card-inf .card-body {
  position: relative;
  z-index: 2;
}
.card-title {
  color: #040303;
}
.card-inf p {
  font-size: 1rem;
  color: #040303;
}

@media (max-width: 768px) {
  .section-tarjet {
    flex-direction: column;
    align-items: center;
  }
  .tarjeta {
    margin-top: 15%;
  }
}
