/* Estilo general de la secci칩n */
main{
  margin: 10% 0 0 0;
  margin-top: 10%;
}


/** -------------- DESCUENTOS Y PROMOCIONES -------------**/
.carrousel-banner{
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  position: relative;
  margin-top: 5%;
  margin-bottom: -10%;
}

.image-banner {
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.carrousel-banner-item {
  transition: transform 0.5s ease; /* Transici칩n suave */
}

  .carrousel-banner .carousel-control-prev,
  .carrousel-banner .carousel-control-next {
    transform: translateY(-20%); /* Ajuste fino para el centrado vertical */
    padding: 10px;
  }
.carrousel-banner .carousel-control-prev-icon,
.carrousel-banner  .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

/* Responsive */
@media (min-width: 720px) and (max-width: 1200px) {
  .carrousel-banner{
    margin-bottom: -10%;
  }

}
@media (min-width: 480px) and (max-width: 720px) {
  .carrousel-banner{
    margin-bottom: -20%;
  }
  .image-banner {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 10%;
  }

}

@media (max-width: 480px) {

  .image-banner {
    width: 90%;
    height: auto;
    margin-top: 10%;
  }
}


/** --------SECCION DE PRODUCTOS------**/
.todos-productos-principal {
  margin-top: 10%;
}
.container {
  max-width: 75%;
}

/* Estilos de las tarjetas de productos */
.producto-card {
  margin-top: 10%;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  justify-content: space-between;
  margin-right: 10%;
}

.producto-card:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #333333c4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.788);
  transform: translateY(-5px);
}
.imagen-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Im치genes del producto */
.producto-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: white;
}

.ver-galeria-btn {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #0284c7;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: background-color 0.2s, opacity 0.4s ease;
}

.imagen-container:hover .ver-galeria-btn {
  opacity: 0.9;
  visibility: visible;
}
.ver-galeria-btn :hover {
  background-color: #0284c7;
  opacity: 1;
}

.card-body {
  padding: 5px 8px 1px 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.card-text {
  padding-top: 5px;
  font-size: 0.8rem;
  color: #666;
  width: 100%;
  margin-bottom: 5px;
}
.price-content{
  display: flex;
  margin-left: 10%;
  width: 100%;
}
.card-pricePrev{
  font-size: 0.9rem;
  text-decoration: line-through;
  display: inline-block;
}
.card-descuento{
  display: block;
  background-color: #022b5b;
  color: white;
  font-size: 0.9rem;
  border-radius: 20px;
  margin-right: 25%;
  text-align: center;
  width: 50%;
  padding: 2px;
}
.card-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #453db3;
  text-align: center;
  margin: 0;
  margin-top: -8%;
  width: 100%;
}
.card-coutas{
  text-align: center;
  font-size: 0.9rem;
  color: green;
  margin-top: -4%;
  margin-bottom: -4%;
  width: 100%;
}


.btn-comprar {
  opacity: 0;
  width: 100%;
  height: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: #2c2d2ecb;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: #0284c7;
  transform: translateY(25px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.producto-card:hover .btn-comprar {
  opacity: 1;
  transform: translateY(0);
}
.btn-comprar:hover {
  transform: scale(1.1) !important;
  background-color: #0257c7;
}

/**  Ventana modal  */
.modal-content {
  border-radius: 30px;
}
.modal-header {
  background-color: #0284c7;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.carousel-item {
  height: 400px; /* Ajusta la altura deseada */
}

.todos-productos-principal  .carousel-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  transition: transform 0.6s ease;
}

.todos-productos-principal .carousel-item:hover img {
  transform: scale(1.1);
}

.todos-productos-principal .carousel-control-prev,
.todos-productos-principal .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos-productos-principal .carousel-control-prev:hover,
.todos-productos-principal .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Estilo de paginaci칩n */
.pagination {
  margin: 20px 0;
}

@media (max-width: 480px) {
  .todos-productos-principal {
    margin-top: -70%;
  }
  .container {
    max-width: 70%;
  }
  .btn-comprar {
    opacity: 1;
    width: 100%;
    height: 10%;
    transform: translateY(0);
  }
}



@media(min-width: 480px) and  (max-width: 720px) {
  .todos-productos-principal {
    margin-top: -10%;
  }
  .container {
    max-width: 90%;

  }
  .card-descuento {
font-size: 0.7rem;
    width: 40%;
  }
  }
@media (min-width: 720px) and (max-width: 1200px) {
  .todos-productos-principal {
    margin-top: -10%;
  }

  .container {
    max-width: 85%;
  }
}