{% extends 'core/base.html' %}
{% load static %}
{% block title %}Proveedores{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilosVenta.css' %}" />
{% endblock %}
{% block nav %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link">Home</a>
</li>
<li class="nav-item">
    <a href="{% url 'ventas:lista_productos' %}" class="nav-link">Productos</a>
</li>
<li class="nav-item">
    <a href="{% url 'ventas:clientes' %}" class="nav-link">Clientes</a>
</li>
<li class="nav-item">
    <a href="{% url 'ventas:ventas' %}" class="nav-link">Ventas</a>
</li>

<li class="nav-item active">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn-sesion nav-link">Cerrar sesión</button>
    </form>
</li>
{% endblock %}

{% block login %}
{% endblock %}

<!--Titulo del hero-->
{% block title-pag %}
PROVEEDORES
{% endblock %}

<!--Background del banner/hero -->
{% block image-banner %}
<div class="bg-img-cover animation-move bg-pos-center-center"
         style="background-image: url(https://media.licdn.com/dms/image/v2/C561BAQG3Dilva7lUDw/company-background_10000/company-background_10000/0/1585448951064/designcodeio_cover?e=2147483647&v=beta&t=qx-Vr_5cVSHVaSX4a2TNKVid7wvf0dN9VlM9_9qvBbQ)"></div>
{% endblock %}

{% block content %}
<div class="container mt-5">
  
    <!-- Formulario de búsqueda -->
    <form method="get" class="form-inline my-3">
        <input type="text" name="q" class="form-control mr-2" placeholder="Buscar por nombre " value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="{% url 'ventas:proveedor_add' %}" class="btn btn-success ml-2">Agregar Proveedor</a>
    </form>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr><th>Nombre</th><th>Email</th><th>Acciones</th></tr>
        </thead>
        <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.email }}</td>
            <td>
                <a href="{% url 'ventas:proveedor_edit' proveedor.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'ventas:proveedor_delete' proveedor.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="2">No se encontraron proveedores.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
