
{% extends 'core/base.html' %}
{% load static %}
{% block title %} Home{% endblock %}

{% block nav %}
<li class="nav-item">
    <a href="{% url 'acercade' %}" class="nav-link">Acerca de</a>
</li>
<li class="nav-item">
    <a href="{% url 'contacto' %}" class="nav-link">Contacto</a>
</li>
<li class="nav-item">
    <a href="{% url 'ventas:productos' %}" class="nav-link">Productos</a>

</li>
{% endblock %}


{% block content %}
<main>
    <section id="home">
        <h1>SML</h1>
        <p>
            Nuestro sitio web tiene como objetivo ofrecer a los clientes una
            experiencia de compra cómoda, segura y confiable para adquirir
            electrodomésticos de alta calidad. Buscamos simplificar el proceso de
            selección con descripciones detalladas, opiniones de usuarios y
            asesoramiento profesional en línea, ayudando a los clientes a tomar
            decisiones informadas. Además, el sitio está diseñado para ofrecer
            promociones exclusivas y opciones de envío rápido, brindando a
            nuestros clientes soluciones eficientes y adaptadas a sus necesidades
            del hogar.
        </p>
    </section>
</main>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}
