<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/core/css/estilos.css">
    <title>Nombre de la Aplicación</title>
</head>
<body>

    <header>
        <img src="imagen.jpg" alt="Logo de la Aplicación" id="logo">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#acerca-de">Acerca de</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home">
            <h1>Nombre de la Aplicación</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum quo harum tempora vitae voluptates veniam eum maxime consequatur est illum totam quisquam praesentium, impedit, minus, facere mollitia inventore ratione.</p>
        </section>
    </main>

  
    <footer>
        <p>Contacto:</p>
        <ul>
            <li>Teléfono: 388-508-4464</li>
            <li>Email: contacto@aplicacion.com</li>
            <li>Dirección: Calle 519, San Salvador de Jujuy, Argentina</li>
        </ul>
    </footer>

</body>
</html>
