{% extends 'core/base.html' %}

{% block title %} Productos{% endblock %}

{% block content %}
<main>
  <section class="py-5 todos-productos-principal">
    <h1 class="text-center mb-4">Productos Disponibles</h1>
    <div class="container">
      <div class="row justify-content-center">
        {% for producto in productos %}
        <div class="col-md-3 col-sm-5 mb-4">
          <div class="producto-card">
            <!-- Imagen principal del producto -->
            <div class="imagen-container">
              <img src="{{ producto.imagen_principal.url }}" class="img-fluid producto-img" alt="{{ producto.nombre }}" />

              <!-- Botón para abrir la ventana modal -->
              <button type="button" class="btn btn-primary ver-galeria-btn" data-bs-toggle="modal" data-bs-target="#modal{{ producto.id }}">
                Ver Galería
              </button>
            </div>
            <div class="card-body">
              <!-- Nombre y descripción del producto -->
              <div class="producto-info">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-price">
                  <strong>$ {{ producto.precio }}</strong>
                </p>
              </div>
            </div>
            <button type="button" class="btn-comprar btn-primary">
              COMPRAR
            </button>
          </div>
        </div>

        <!-- Modal para galería de imágenes -->
        <div class="modal fade" id="modal{{ producto.id }}" tabindex="-1" aria-labelledby="modalLabel{{ producto.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header justify-content-center ">
                <h5 class="modal-title" id="modalLabel{{ producto.id }}">
                  {{ producto.nombre }}
                </h5>
              </div>
              <div class="modal-body">
                <!-- Carrusel de imágenes -->
                <div id="carousel{{ producto.id }}" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-inner">
                    {% for imagen in producto.imagenes.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img src="{{ imagen.imagen.url }}" class="d-block w-100 imagen-modal" alt="Imagen de {{ producto.nombre }}" />
                    </div>
                    {% endfor %}
                  </div>
                  <!-- Controles de navegación del carrusel -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ producto.id }}" data-bs-slide="prev">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ producto.id }}" data-bs-slide="next">
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if productos.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ productos.previous_page_number }}">Anterior</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Anterior</span>
          </li>
          {% endif %} 
          {% for num in productos.paginator.page_range %}
          <li class="page-item {% if productos.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %} 
          {% if productos.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ productos.next_page_number }}">Siguiente</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Siguiente</span>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </section>
</main>
{% endblock %}